# Loan Default Prediction - Modeling

For the Modeling we want to showcase the following machine learning tools:

<b>Keras/TensorFlow:</b> Keras is user-friendly and works well for deep learning. Our dataset is large enough and slightly complex, a neural network might capture the underlying patterns well. We will start with a simple feedforward neural network and gradually increase complexity if needed.


<b>PyTorch:</b> If possible we may look into Pytorch as it's great for custom model architectures and provides us with flexibility. This is a bit more challenging than than Keras but it is powerful. We begin with a basic architecture and explore more complex layers and structures if needed. 

At the end we will compare the two.

#### Imports

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.metrics import roc_auc_score, classification_report, confusion_matrix

In [4]:
df = pd.read_csv("../data/loan_data_cleaned.csv", index_col=0)

df.head()

,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Education,EmploymentType,MaritalStatus,HasMortgage,HasDependents,LoanPurpose,HasCoSigner,Default
Age,,,,,,,,,,,,,,,,
56,85994,50587,520,80,4,15.23,36,0.44,0,0,0,1,1,4,1,0
69,50432,124440,458,15,1,4.81,60,0.68,2,0,1,0,0,4,1,0
46,84208,129188,451,26,3,21.17,24,0.31,2,3,0,1,1,0,0,1
32,31713,44799,743,0,3,7.07,24,0.23,1,0,1,0,0,1,0,0
60,20437,9139,633,8,4,6.51,48,0.73,0,3,0,0,1,0,0,0

### Train-Test Split

In [5]:
# we are doing an 80/20 split

X = df.drop('Default', axis=1)  
y = df['Default']  

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=99)

## Neural Network with Keras/TensorFlow
We'll start by building a simple feedforward neural network (multilayer perceptron) for classification.

For our model we will have an input layer, two hidden layers (64 and 32 units), and an output layer. We will use ReLU for hidden layers and Sigmoid for the output layer since it’s a binary classification problem.

We will train the model with 10 epochs and adjust depending on the performance. (How many times the model will go through the training set)

Note:
Batch controls how many samples are processed before the model’s internal parameters are updated.
validation_split=0.2: This will use 20% of the training data for validation during training, which helps monitor the model's performance on unseen data.

In [7]:

model = Sequential()


model.add(Dense(64, input_dim=X_train.shape[1], activation='relu'))  

model.add(Dense(32, activation='relu'))
model.add(Dense(16, activation='relu'))

model.add(Dense(1, activation='sigmoid'))

model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

history = model.fit(X_train, y_train, validation_split=0.2, epochs=10, batch_size=32)


y_pred_prob = model.predict(X_test)
y_pred_class = (y_pred_prob > 0.5).astype("int32")

# Evaluate the model
auc = roc_auc_score(y_test, y_pred_prob)
print(f"AUC-ROC Score: {auc}")

Epoch 1/10
5107/5107 [==============================] - 12s 2ms/step - loss: 33.9322 - accuracy: 0.8034 - val_loss: 1.6528 - val_accuracy: 0.8451
Epoch 2/10
5107/5107 [==============================] - 13s 3ms/step - loss: 1.3038 - accuracy: 0.8328 - val_loss: 0.3607 - val_accuracy: 0.8827
Epoch 3/10
5107/5107 [==============================] - 10s 2ms/step - loss: 0.4003 - accuracy: 0.8813 - val_loss: 0.3580 - val_accuracy: 0.8845
Epoch 4/10
5107/5107 [==============================] - 11s 2ms/step - loss: 0.3598 - accuracy: 0.8836 - val_loss: 0.3579 - val_accuracy: 0.8845
Epoch 5/10
5107/5107 [==============================] - 11s 2ms/step - loss: 0.3598 - accuracy: 0.8836 - val_loss: 0.3581 - val_accuracy: 0.8845
Epoch 6/10
5107/5107 [==============================] - 11s 2ms/step - loss: 0.3599 - accuracy: 0.8836 - val_loss: 0.3579 - val_accuracy: 0.8845
Epoch 7/10
5107/5107 [==============================] - 11s 2ms/step - loss: 0.3598 - accuracy: 0.8836 - val_loss: 0.3581 - val_accuracy: 0.8845
Epoch 8/10
5107/5107 [==============================] - 11s 2ms/step - loss: 0.3599 - accuracy: 0.8836 - val_loss: 0.3580 - val_accuracy: 0.8845
Epoch 9/10
5107/5107 [==============================] - 10s 2ms/step - loss: 0.3599 - accuracy: 0.8836 - val_loss: 0.3579 - val_accuracy: 0.8845
Epoch 10/10
5107/5107 [==============================] - 10s 2ms/step - loss: 0.3599 - accuracy: 0.8836 - val_loss: 0.3579 - val_accuracy: 0.8845
1596/1596 [==============================] - 2s 1ms/step
AUC-ROC Score: 0.5

#### Keras/TensorFlow Evaluation

In [ ]:

auc = roc_auc_score(y_test, y_pred_prob)
print(f"AUC-ROC Score: {auc}")

print("Classification Report:\n", classification_report(y_test, y_pred_class))

print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred_class))