# Loan Default Prediction - Modeling

For the Modeling we want to showcase the following machine learning tools:

<b>Keras/TensorFlow:</b> Keras is user-friendly and works well for deep learning. Our dataset is large enough and slightly complex, a neural network might capture the underlying patterns well. We will start with a simple feedforward neural network and gradually increase complexity if needed.


<b>PyTorch:</b> If possible we may look into Pytorch as it's great for custom model architectures and provides us with flexibility. This is a bit more challenging than than Keras but it is powerful. We begin with a basic architecture and explore more complex layers and structures if needed. 

At the end we will compare the two.

#### Imports

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.metrics import roc_auc_score

In [4]:
df = pd.read_csv("../data/loan_data_cleaned.csv", index_col=0)

df.head()

,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Education,EmploymentType,MaritalStatus,HasMortgage,HasDependents,LoanPurpose,HasCoSigner,Default
Age,,,,,,,,,,,,,,,,
56,85994,50587,520,80,4,15.23,36,0.44,0,0,0,1,1,4,1,0
69,50432,124440,458,15,1,4.81,60,0.68,2,0,1,0,0,4,1,0
46,84208,129188,451,26,3,21.17,24,0.31,2,3,0,1,1,0,0,1
32,31713,44799,743,0,3,7.07,24,0.23,1,0,1,0,0,1,0,0
60,20437,9139,633,8,4,6.51,48,0.73,0,3,0,0,1,0,0,0

### Train-Test Split

In [5]:
# we are doing an 80/20 split

X = df.drop('Default', axis=1)  
y = df['Default']  

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=99)